.app-footer {
  position: relative;
  bottom: 0;
  text-align: end;
  font-weight: 600;
}

.footer-container {
  border-top: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-300);
  width: 100vw;
  background-color: var(--spectrum-gray-50);
  padding: var(--spectrum-global-dimension-size-200);
  flex-shrink: 0;
  margin-top: auto;
}

.text-footer {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}