.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.app-content {
  flex: 1;
  background-color: var(--spectrum-gray-100);
  position: relative;
  width: 100vw;
}